@model IEnumerable<SecurityAccess>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>RaasID</th>
            <th>Sigla</th>
            <th>ClientId</th>
            <th>Method</th>
            <th>Endpoint</th>
            <th>Data Cadastro</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Detalhes" asp-route-id="@item.ID" class="btn btn-info"><i class="fas fa-edit"></i>Editar</a>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.RaasID)</td>
                    <td>@Html.DisplayFor(modelItem => item.Sigla)</td>
                    <td>@Html.DisplayFor(modelItem => item.STSClientId)</td>

                    <td>
                        @if (item.Method.ToUpper() == "GET")
                        {
                            <span class="status text-success">@item.Method.ToUpper()</span>
                        }
                        else if (item.Method.ToUpper() == "POST")
                        {
                            <span class="status text-danger">@item.Method.ToUpper()</span>
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Endpoint)</td>
                    <td>@Html.DisplayFor(modelItem => item.DataCadastro)</td>
                </tr>
            }
        }
    </tbody>
</table>
@*<pagination paged-list="@Model" action-link="Pesquisar('@Url.Action("Pesquisar")', #page)" selector-replace="#page"></pagination>*@

